<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>301</key>
	<string>d_avant_garde_D4</string>
	<key>302</key>
	<string>d_avant_garde_D10</string>
	<key>303</key>
	<string>d_avant_garde_D18</string>
	<key>304</key>
	<string>d_avant_garde_D20</string>
	<key>305</key>
	<string>d_avant_garde_D43</string>
	<key>306</key>
	<string>d_avant_garde_D31</string>
	<key>307</key>
	<string>d_avant_garde_D58</string>
	<key>308</key>
	<string>d_avant_garde_D48</string>
	<key>309</key>
	<string>d_avant_garde_D2</string>
	<key>310</key>
	<string>d_avant_garde_D1</string>
	<key>311</key>
	<string>d_avant_garde_D29</string>
	<key>312</key>
	<string>d_avant_garde_D30</string>
	<key>313</key>
	<string>d_avant_garde_D6</string>
	<key>314</key>
	<string>d_avant_garde_D3</string>
	<key>315</key>
	<string>d_avant_garde_D49</string>
	<key>316</key>
	<string>d_avant_garde_D47</string>
	<key>317</key>
	<string>d_avant_garde_D8</string>
	<key>318</key>
	<string>d_avant_garde_D5</string>
	<key>319</key>
	<string>d_avant_garde_D44</string>
	<key>320</key>
	<string>d_avant_garde_D46</string>
	<key>321</key>
	<string>d_avant_garde_D16</string>
	<key>322</key>
	<string>d_avant_garde_D7</string>
	<key>323</key>
	<string>d_avant_garde_D45</string>
	<key>324</key>
	<string>d_avant_garde_D35</string>
	<key>325</key>
	<string>d_avant_garde_D12</string>
	<key>326</key>
	<string>d_avant_garde_D9</string>
	<key>327</key>
	<string>d_avant_garde_D51</string>
	<key>328</key>
	<string>d_avant_garde_D52</string>
	<key>329</key>
	<string>d_avant_garde_D11</string>
	<key>330</key>
	<string>d_avant_garde_D15</string>
	<key>331</key>
	<string>d_avant_garde_D53</string>
	<key>332</key>
	<string>d_avant_garde_D54</string>
	<key>333</key>
	<string>d_avant_garde_D19</string>
	<key>334</key>
	<string>d_avant_garde_D17</string>
	<key>335</key>
	<string>d_avant_garde_D62</string>
	<key>336</key>
	<string>d_avant_garde_D63</string>
	<key>337</key>
	<string>d_avant_garde_D13</string>
	<key>338</key>
	<string>d_avant_garde_D21</string>
	<key>339</key>
	<string>d_avant_garde_D57</string>
	<key>340</key>
	<string>d_avant_garde_D59</string>
	<key>341</key>
	<string>d_avant_garde_D14</string>
	<key>342</key>
	<string>d_avant_garde_D26</string>
	<key>343</key>
	<string>d_avant_garde_D60</string>
	<key>344</key>
	<string>d_avant_garde_D61</string>
	<key>345</key>
	<string>d_avant_garde_D25</string>
	<key>346</key>
	<string>d_avant_garde_D24</string>
	<key>347</key>
	<string>d_avant_garde_D55</string>
	<key>348</key>
	<string>d_avant_garde_D56</string>
	<key>349</key>
	<string>d_avant_garde_D22</string>
	<key>350</key>
	<string>d_avant_garde_D23</string>
	<key>351</key>
	<string>d_avant_garde_D32</string>
	<key>352</key>
	<string>d_avant_garde_D33</string>
	<key>353</key>
	<string>d_avant_garde_D41</string>
	<key>354</key>
	<string>d_avant_garde_D42</string>
	<key>355</key>
	<string>d_avant_garde_D27</string>
	<key>356</key>
	<string>d_avant_garde_D28</string>
	<key>357</key>
	<string>d_avant_garde_D36</string>
	<key>358</key>
	<string>d_avant_garde_D37</string>
	<key>359</key>
	<string>d_avant_garde_D50</string>
	<key>360</key>
	<string>d_avant_garde_D40</string>
	<key>361</key>
	<string>d_avant_garde_D38</string>
	<key>362</key>
	<string>d_avant_garde_D39</string>
	<key>363</key>
	<string>d_avant_garde_D34</string>
</dict>
</plist>
