<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>emotions_01</string>
	<key>002</key>
	<string>emotions_02</string>
	<key>003</key>
	<string>emotions_03</string>
	<key>004</key>
	<string>emotions_04</string>
	<key>005</key>
	<string>emotions_05</string>
	<key>006</key>
	<string>emotions_06</string>
	<key>007</key>
	<string>image_04</string>
	<key>008</key>
	<string>image_05</string>
	<key>009</key>
	<string>image_19</string>
	<key>010</key>
	<string>shirt_01</string>
	<key>011</key>
	<string>shirt_02</string>
	<key>012</key>
	<string>shirt_06</string>
	<key>013</key>
	<string>shirt_10</string>
	<key>014</key>
	<string>shirt_11</string>
	<key>015</key>
	<string>shirt_12</string>
	<key>016</key>
	<string>emotions_07</string>
	<key>017</key>
	<string>emotions_08</string>
	<key>019</key>
	<string>emotions_10</string>
	<key>020</key>
	<string>emotions_11</string>
	<key>021</key>
	<string>emotions_12</string>
	<key>022</key>
	<string>emotions_13</string>
	<key>023</key>
	<string>emotions_14</string>
	<key>024</key>
	<string>emotions_15</string>
	<key>025</key>
	<string>emotions_16</string>
	<key>026</key>
	<string>emotions_17</string>
	<key>027</key>
	<string>emotions_18</string>
	<key>028</key>
	<string>emotions_19</string>
	<key>029</key>
	<string>emotions_20</string>
	<key>030</key>
	<string>emotions_21</string>
	<key>031</key>
	<string>emotions_22</string>
	<key>032</key>
	<string>emotions_23</string>
	<key>033</key>
	<string>emotions_24</string>
	<key>034</key>
	<string>emotions_25</string>
	<key>035</key>
	<string>hands-02</string>
	<key>036</key>
	<string>hands_01</string>
	<key>037</key>
	<string>hands_03</string>
	<key>038</key>
	<string>hands_04</string>
	<key>039</key>
	<string>hands_05</string>
	<key>040</key>
	<string>hands_06</string>
	<key>041</key>
	<string>image-bubble1</string>
	<key>042</key>
	<string>image-bubble_2</string>
	<key>043</key>
	<string>image-bubble_3</string>
	<key>045</key>
	<string>image_06</string>
	<key>046</key>
	<string>image_07</string>
	<key>047</key>
	<string>image_08</string>
	<key>048</key>
	<string>image_09</string>
	<key>049</key>
	<string>image_10</string>
	<key>050</key>
	<string>image_11</string>
	<key>051</key>
	<string>image_12</string>
	<key>052</key>
	<string>image_13</string>
	<key>053</key>
	<string>image_14</string>
	<key>054</key>
	<string>image_15</string>
	<key>055</key>
	<string>image_20</string>
	<key>056</key>
	<string>image_21</string>
	<key>057</key>
	<string>meme_01</string>
	<key>058</key>
	<string>meme_02</string>
	<key>059</key>
	<string>meme_03</string>
	<key>060</key>
	<string>meme_04</string>
	<key>061</key>
	<string>meme_05</string>
	<key>062</key>
	<string>meme_08</string>
	<key>063</key>
	<string>meme_09</string>
	<key>064</key>
	<string>meme_10</string>
	<key>065</key>
	<string>meme_11</string>
	<key>066</key>
	<string>meme_12</string>
	<key>067</key>
	<string>meme_13</string>
	<key>068</key>
	<string>meme_15</string>
	<key>069</key>
	<string>meme_17</string>
	<key>070</key>
	<string>meme_18</string>
	<key>071</key>
	<string>meme_19</string>
	<key>072</key>
	<string>meme_23</string>
	<key>073</key>
	<string>meme_24</string>
	<key>074</key>
	<string>shirt_03</string>
	<key>075</key>
	<string>shirt_04</string>
	<key>076</key>
	<string>shirt_05</string>
	<key>077</key>
	<string>shirt_06</string>
	<key>078</key>
	<string>shirt_07</string>
	<key>079</key>
	<string>shirt_08</string>
	<key>080</key>
	<string>shirt_09</string>
	<key>081</key>
	<string>vector_01</string>
	<key>082</key>
	<string>vector_02</string>
	<key>083</key>
	<string>vector_03</string>
	<key>084</key>
	<string>vector_05</string>
	<key>085</key>
	<string>vector_06</string>
	<key>086</key>
	<string>vector_07</string>
	<key>087</key>
	<string>vector_08</string>
	<key>088</key>
	<string>vector_09</string>
	<key>089</key>
	<string>vector_10</string>
	<key>090</key>
	<string>vector_11</string>
	<key>091</key>
	<string>vector_12</string>
	<key>092</key>
	<string>vector_13</string>
</dict>
</plist>
