<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>201</key>
	<string>c_gung_ho_C1</string>
	<key>202</key>
	<string>c_gung_ho_C2</string>
	<key>203</key>
	<string>c_gung_ho_C3</string>
	<key>204</key>
	<string>c_gung_ho_C4</string>
	<key>205</key>
	<string>c_gung_ho_C5</string>
	<key>206</key>
	<string>c_gung_ho_C6</string>
</dict>
</plist>
